/**  colors will come from .cache/wal/colors.css as variables defined in :root
 *  see: cat $HOME/.cache/wal/colors.css
*/
.scroller-2FKFPG.systemPad-3UxEGl.scroller-2TZvBN.da-scroller.da-systemPad,
.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.members-1998pB.da-members,
.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.scroller-1JbKMe,
.container-3baos1.da-container,
.form-2fGMdU.da-form,
.title-3qD0b-.da-title.container-1r6BKw.da-container.themed-ANHk51.da-themed,
.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.messages-3amgkR.scroller-3sQKXg.da-scroller,
.searchBar-6Kv8R2.da-searchBar,
.content-1o0f9g.da-content,
.appMount-3lHmkl.bda-dark.da-appMount,
.header-2o-2hj.da-header,
.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.scroller-2wx7Hm.da-scroller,
.container-1giJp5.da-container,
.videoBackground-3AY_fu.da-videoBackground,
.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad,
.container-1r6BKw.da-container.themed-ANHk51.da-themed,
.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0.da-headerTop,
.footer-1fjuF6.da-footer {
  background-color: var(--background) !important;
}

.toolbar-1t6TWx.da-toolbar svg,
.searchBarComponent-32dTOx.da-searchBarComponent {
  color: var(--color1) !important;
}
/* input */
.inner-MADQqc.da-inner,
input,
.scrollableContainer-2NUZem.webkit-HjD9Er.da-webkit {
  background-color: var(--color1) !important;
}

/* chat messages with embeded html  */
.grid-1nZz7S.da-grid.hasThumbnail-3FJf1w.da-hasThumbnail {
  background-color: var(--background) !important;
  filter: brightness(90%);
}
/* add and search server buttons */
.circleIconButton-jET_ig.da-circleIconButton {
  background-color: var(--foreground) !important;
}
